td {
    text-align: left;
}
footer{
    width: 45%;
    height: 400px;
    margin: auto;
    background-image: url('img/forks.jpg');
    background-size: 100% 100%;
    
}

section#login {
    padding-bottom: 0;
}
.logo{
      font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
      font-size:x-large;      
}
.fruitPic{
    height:160px;
    width: 160px;
}

.timeline > li .timeline-image {
    border: 7px solid #ffffff;
}

.timeline:before {
    background-color: #ffffff;
}

menu {
    padding: 0;
}