<div>
    <h2>Login</h2>
    <form  class="form-horizontal" ng-submit="login()">
        <table>
            <tr>
                <th>
                    E-mail
                </th>
                <td>
                    <input ng-model="loginForm.email" type="email" />
                </td>
            </tr>
            <tr>
                <th>
                    Password
                </th>
                <td>
                    <input ng-model="loginForm.password" type="password" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Send" />
                </td>
            </tr>
        </table>
        
    </form>
</div>