<section id="personal-zone">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My personal zone</h2>
                <h3 class="section-subheading text-muted">To get the perfect diet for you, we need to get to know you better</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Please select your nutritional Preferences:</h4>
                <p class="text-muted">
                    <selectpicker ng-change="selectpickerChanged" data-array="preferences" data-model="selectedNutritionalPreferences"></selectpicker>
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Please select your personal allergies:</h4>
                <p class="text-muted">
                    <selectpicker ng-change="selectpickerChanged" data-array="allergies" data-model="selectedAllergies"></selectpicker>
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">
                Get blood tests results
                
                </h4>
                <button ng-click="getBloodTests()" class="btn btn-xl"> Get! </button>
                <br />
                <div id="bloodTestsTable" ng-show="hasReceivedBloodTests === true">
                    <p class="text-muted">
                        <h4> Your blood tests results:</h4>
                        <table class="table">
                            <thead>
                                <tr id="tableHeaders">
                                    <th>Element</th>
                                    <th>Value</th>
                                    <th>Min value</th>
                                    <th>Max value</th>
                                    <th>Range</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in bloodElements">
                                    <td>{{ x.component_name_english }}</td>
                                    <td>{{ x.value }}</td>
                                    <td>{{ x.min_val }}</td>
                                    <td>{{ x.max_val }}</td>
                                    <td>
                                        <input type="range" min={{x.min_val}} max={{x.max_val}} disabled="disabled" value={{x.value}} />
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </p>
                    </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button ng-click="createMenu()" class="btn btn-xl"> create my menu</button>
            </div>
        </div>
        
        </div>
</section>